.buttons {
  display: flex;
  justify-content: space-around;
}
.normalButton {
  background-color: rgb(100, 100, 100);
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  margin: 2px;
  transition: all 0.2;
}
.normalButton:hover {
  background-color: rgb(87, 87, 87);
  border: 1px solid rgb(221, 38, 38);
}
