.cont {
  background-color: rgb(170, 6, 6);
}

.title {
  font-family: "Gotu", sans-serif;
}

.menu {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
}

.me-auto {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.title a{
  color: black;
}

.cont{
  display: flex;
  flex-direction: row;
}
